@import "../lib/bootstrap/scss/functions";
@import "options";
@import "variables";
@import "../lib/bootstrap/scss/_variables";

// MAPS

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $greys);
$theme-colors: map-merge-multiple($theme-colors, $all-colors, ("primary": $primary, "primary-subtle": $primary-subtle, "secondary": $secondary,  "secondary-subtle": $secondary-subtle, "tertiary":$tertiary));

@import "../lib/bootstrap/scss/maps";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/utilities";
@import "../lib/bootstrap/scss/root";
@import "../lib/bootstrap/scss/reboot";
@import "../lib/bootstrap/scss/accordion";
@import "../lib/bootstrap/scss/modal";
@import "../lib/bootstrap/scss/buttons";
@import "../lib/bootstrap/scss/card";
@import "../lib/bootstrap/scss/helpers";

@import "scroll";

@import "components/templates/modal";
@import "components/form";
@import "components/toast";
@import "components/modal";
@import "components/panels";
@import "components/links-buttons";
@import "components/template-components";

// template componenets
@import "components/templates/accordion";

@import "utility";

$utilities: map-merge( $utilities, ( "color": map-merge( map-get($utilities, "color"), ( values: map-merge( map-get(map-get($utilities, "text-color"), "values"), ( $all-colors ))))));

@import "../lib/bootstrap/scss/utilities/_api.scss";
