@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<Toast></Toast>
<NavBar></NavBar>
<SectionOutlet SectionName="modal-section" />

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
