<nav>
    <div class="container d-flex">
        <NavLink Match="NavLinkMatch.All" href="/">Home</NavLink>
        <NavLink Match="NavLinkMatch.All" href="/styles">Bootstrap Customizing</NavLink>
    </div>
</nav>

@code {

}
