@using Blibrary.Shared.Models
@using Blibrary.Shared.Components.Card
@implements IDisplayComponentTemplate

<div class="container">
    <div class="row">
        <div class="d-grid position-absolute top-15 right-10 col-4">
            <Card >
                <CardHeader>
                    Card Header
                </CardHeader>
                <CardTitle>
                    Card Title
                </CardTitle>
                <CardSubTitle>
                    Card Sub-Title
                </CardSubTitle>
                <CardBody>
                    Card Body
                </CardBody>
                <CardFooter>
                    Card Footer
                </CardFooter>
            </Card>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public ScssVariableSection CurrentSection { get; set; } = default!;
    [Parameter]
    public List<ScssVariable> ColorSection { get; set; } = [];
}
