/* Error: expected ";".
 *      ,
 * 2159 | $primary: #bef3e3$secondary: #6c757d$success: #198754$info: #0dcaf0$warning: #ffc107$danger: #dc3545$tertiary: #cf7917
 *      |                            ^
 *      '
 *   wwwroot\temp\scss\custom.scss 2159:28  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a      \2577 \a 2159 \2502  $primary: #bef3e3$secondary: #6c757d$success: #198754$info: #0dcaf0$warning: #ffc107$danger: #dc3545$tertiary: #cf7917\a      \2502                             ^\a      \2575 \a   wwwroot\\temp\\scss\\custom.scss 2159:28  root stylesheet';
}
