<button class="tab">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public Tabs Parent { get; set; }

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }
}
